@font-face { font-family:'Rajdhani'; font-weight:500; src:url('Rajdhani-Medium.ttf'); font-display:block; }
@font-face { font-family:'Rajdhani'; font-weight:600; src:url('Rajdhani-SemiBold.ttf'); font-display:block; }
@font-face { font-family:'Rajdhani'; font-weight:700; src:url('Rajdhani-Bold.ttf'); font-display:block; }
@font-face { font-family:'Inter Tight'; font-weight:100 900; src:url('InterTight.ttf'); font-display:block; }
@font-face { font-family:'IBM Plex Sans'; font-weight:100 700; src:url('IBMPlexSans.ttf'); font-display:block; }
@font-face { font-family:'M PLUS 1p'; font-weight:500; src:url('MPLUS1p-Medium.ttf'); font-display:block; }
